<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Xtwocn_Debug>
            <version>0.0.1</version>
        </Xtwocn_Debug>
    </modules>
    <global>
        <models>
            <xtwocndebug>
                <class>Xtwocn_Debug_Model</class>
            </xtwocndebug>
            <core>
                <rewrite>
                    <layout_update>Xtwocn_Debug_Model_Layout_Update</layout_update>
                </rewrite>
            </core>
        </models>
        <helpers>
            <xtwocndebug>
                <class>Xtwocn_Debug_Helper</class>
            </xtwocndebug>
        </helpers>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <debug_block_observer>
                        <type>singleton</type>
                        <class>xtwocndebug/observer</class>
                        <method>debugBlock</method>
                    </debug_block_observer>
                </observers>
            </core_block_abstract_to_html_before>
            <controller_action_postdispatch>
                <observers>
                    <dispatch_observer>
                        <type>model</type>
                        <class>xtwocndebug/observer</class>
                        <method>debugAction</method>
                    </dispatch_observer>
                </observers>
            </controller_action_postdispatch>
        </events>
    </global>
    <frontend>
        <routers>
            <xtwocndebug>
                <use>standard</use>
                <args>
                    <module>Xtwocn_Debug</module>
                    <frontName>debug</frontName>
                </args>
            </xtwocndebug>
        </routers>
    </frontend>
    <debug>
        <logs>
            <action>
                <on>0</on>
                <fileName>debug_action.log</fileName>
            </action>
        </logs>
        <blocks>
            <hintTemplate>0</hintTemplate>
        </blocks>
    </debug>
</config>
